<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товары и наличие</title>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Артикул</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th>Наличие</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.availability %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
